<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>COUNT SIGN CHANGE</title>
        <link href="/static/reset.css" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form class="form" method="POST" action="/count-sign-change">

                <h1 class="container-heading">Calculate sign change</h1>
                <input class="input-seq" type="text" name="seq" placeholder="Input seq (like: 1, 2, -3, 0):" required>
                <div class="submit-buttons">
                    <input class="submit-button" type="submit" value="Count">
                </div>
            </form>

            {% if result %}
            <div class="result placeholder shadow">
                <p>{{ result }}</p>
            </div>
            {% endif %}

            {% if error %}
            <div class="error placeholder shadow">
                <p>{{ error }}</p>
            </div>
            {% endif %}
        </div>
    </body>
</html>
