<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Added toy {{ toy["name"] }}</title>
    </head>
    <body>
        <h1><a href="{{ urlpath('index') }}">Home</a></h1>
        <hr>
        <h2>Succesfuly added toy {{ toy["name"] }}</h2>
        <ul>
            <li><b>Name:</b> {{ toy["name"] }}</li>
            <li><b>Price:</b> {{ toy["price"] }}₴</li>
            <li><b>Age:</b> {{ toy["age"] }}</li>
        </ul>

        <a href="{{ urlpath('add-toy') }}">Add more one</a>
    </body>
</html>
