<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
    </head>
    <body>
        <h1>Toys database</h1> 
        <nav>
            <li><a href="{{ urlpath('view-toys') }}">View Toys</a></li>
            <li><a href="{{ urlpath('get-toys') }}">View Toys (JSON)</a></li>
            <li><a href="{{ urlpath('add-toy') }}">Add Toy</a></li>
            <li><a href="{{ urlpath('filter-toys') }}">Filter Toys</a></li>
        </nav>
    </body>
</html>
