<header>
    <h1><a href="{% url 'tree:home' %}">Tree Garden</a></h1>    
    <menu>
        <li><a href="{% url 'tree:tree-list'%}">Tree list</a></li>
        <li><a href="{% url 'tree:add-tree'%}">Add tree</a></li>
        <li><a href="{% url 'tree:add-harvest'%}">Add harvest</a></li>
        <li><a href="{% url 'tree:add-treefamily'%}">Add tree family</a></li>
        <li><a href="{% url 'tree:add-treesort'%}">Add tree sort</a></li>
        <li><a href="{% url 'tree:add-place'%}">Add place</a></li>
    </menu>
</header>
