<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Add student</title>
    </head>
    <body>
        <h1><a href="{{ urlpath('index') }}">Home</a></h1>
        <hr>

        <h2>Edit student {{ student.name }}</h2>
        <a href="{{ urlpath('view-student', id=student.id)}}">Back to student page</a>

        <form method="POST" action="{{ urlpath('edit-student', id=student.id) }}">
            <h3>Student info</h3>
            <label for="name-inut">Name:</label>
            <input id="name-input" type="text" name="name" value="{{ student.name }}"> 
            <br>

            <label for="byear-input">Born year:</label>
            <input id="byear-input" type="date" name="byear" value="{{ student.born_year }}">
            <br>

            <label for="ayear-input">Application year:</label>
            <input type="date" name="ayear" value="{{ student.application_year }}">
            <br>

            <h3>Student grades</h3>
            {% for subj in subjects %}
            <label for="subject-{{ loop.index-1 }}-input">{{ subj }}</label>
            <input id="subject-{{ loop.index-1 }}-input"type="number" 
            name="subject-{{ loop.index-1 }}" min="0" max="100" step="1" 
            value="{{ student.grades[loop.index-1] }}">
            <br>
            {% endfor %}

            <input type="submit" value="Save changes">
        </form> 
    </body>
</html>
